.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16rem;
}

.spinner {
    animation: spin 1s linear infinite;
    border-radius: 9999px;
    border: 2px solid #3b82f6;
    border-top-color: transparent;
    border-bottom-color: transparent;
    height: 3rem;
    width: 3rem;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
